<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./src/css/home.css">
    <link rel="icon" href="./src/public/favicon.ico" type="image/x-icon">
</head>
<body>
    

 <header>
    <img src="./src/public/ecorp.jfif" alt="">
    <h1 id="text">Corp</h1>
 </header>
<div>

<h1>¡Bienvenidos al equipo de software Ecorp!</h1>

<p>Es un honor tenerlos aquí con nosotros. En Ecorp, valoramos la innovación, la colaboración y el crecimiento personal y profesional. Estamos emocionados de comenzar este nuevo capítulo juntos, sabiendo que cada uno de ustedes aporta habilidades y experiencias únicas que nos ayudarán a crear soluciones de software de vanguardia.</p>
<p>Esperamos que encuentren en Ecorp un lugar donde puedan desarrollar todo su potencial y contribuir al éxito de nuestros proyectos. Recuerden que cada desafío es una oportunidad para aprender y cada logro es un paso más hacia nuestros objetivos comunes.</p>
<p>¡Adelante equipo, el futuro de la tecnología está en nuestras manos!</p>

</div>


</body>
</html>
