<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="./src/css/style.css" />
    <link rel="icon" href="./src/public/favicon.ico" type="image/x-icon" />
</head>
<body>
    <header>
        <div>
            <img src="src/public/ecorp.jfif" alt="Ecorp Logo"/>
        <h1>Corp</h1>
        </div>
        
    </header>

    <form id="registerForm">
        <h1>REGISTER</h1>

        <div class="labels">
            <div class="register">
                <label for="name">NOMBRE COMPLETO:</label>
                <input type="text" id="fullName" name="name" placeholder="Nombre completo" required />
            </div>

            <div class="register">
                <label for="username">NOMBRE DE USUARIO:</label>
                <input type="text" id="username" name="username" placeholder="Nombre de usuario" required />
            </div>

            <div class="register">
                <label for="grade">GRADO:</label>
                <select id="grade" name="grade">
                    <option value="10">10</option>
                    <option value="11">11</option>
                </select>
            </div>

            <div class="register">
                <label for="mail">CORREO ELECTRONICO:</label>
                <input type="email" id="email" name="mail" placeholder="@correo electronico" required />
            </div>
        </div>

        <div class="labels">
            <div class="register">
                <label for="rol">ROL:</label>
                <select id="role" name="rol">
                    <option value="moderador">Moderador</option>
                    <option value="admin_sitio">Administrador del sitio</option>
                    <option value="admin_bd">Administrador de Bases de datos</option>
                    <option value="disenador">Diseñador Grafico</option>
                    <option value="frontend">Front End</option>
                    <option value="backend">Back End</option>
                </select>
            </div>

            <div class="register">
                <label for="password">CONTRASEÑA:</label>
                <input type="password" id="password" name="password" placeholder="***********" required />
            </div>

            <!--<div class="register">
                <label for="confirmPassword">CONFIRMAR CONTRASEÑA:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="**********" required />
            </div> -->

            <div class="register">
                <button type="submit" class="commit-btn">Commit</button>
            </div>
        </div>
    </form>

    <script src="./src/js/sendData.js"></script>
</body>
</html>
